@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  logs: false;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  /* 背景颜色 */
  --background: oklch(0.9612 0.0041 271.37);
  /* 云朵移动动画 */
  --cloud-move: cloud-move 6s infinite;
  /* 星星闪烁动画 */
  --star-twinkle: star-twinkle 2s infinite;
}

[data-theme='dark'] {
  --background: oklch(0.1913 0 0);
}

@theme inline {
  /* 背景颜色 */
  --color-background: var(--background);
  /* 云朵移动动画 */
  --animate-cloud-move: var(--cloud-move);
  /* 星星闪烁动画 */
  --animate-star-twinkle: var(--star-twinkle);
}

* {
  scrollbar-width: thin;
  scrollbar-color: oklch(0 0 0 / 25%) transparent;
}

html {
  height: 100dvh;
}

body {
  background-color: var(--color-background);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

/* Prevent focus zoom on mobile devices(防止移动端输入框聚焦时放大) */
@media screen and (max-width: 767px) {
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}

@utility pt-safe {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

@utility pb-safe {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

@keyframes cloud-move {
  0% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes star-twinkle {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
